@tailwind base;
@tailwind components;
@tailwind utilities;
.font-monteCarlo {
  /* font-family: "Satisfy", cursive !important; */
  font-family: "Nanum Myeongjo", serif !important;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}
